@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Chivo+Mono:ital,wght@0,400;0,700;1,800&family=Lato&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .navlink {
        @apply font-bold font-chivo uppercase relative overflow-hidden duration-200 lg:text-xl
    }


    .navlink>* {
        @apply block
    }

    .active.navlink {
        @apply bg-cyan-300 px-2
    }

    .active.navlink.black {
        @apply text-black
    }

    .body__content {
        @apply px-4 py-8
    }
}

.navlink::after {
    transition: all .8s;
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    background-color: cyan;
    bottom: 0;
    left: 0;
}

.navlink:hover::after {
    width: 100%;
    left: 100%;
}